extends layout

block content
  .nav 
    h1 Club House 
    a(href='/club') Home
    a(href='/club/messages') Messages 
    a(href='//club/members') Members
    a(href="/log-out") 
              li Log out 

  .section 
    h1 Welcome to the Club house #{user.username}

  .main
   if (messages)
    div.messages-container
      each message in messages
        .msg-container 
        h1 #{message.title}
        p #{message.text}
        p #{message.timestamp}
        if (user.member == true)
          h3 #{message.user.username}