extends layout

block content
  .nav 
    h1 HomePage 
    a(href='/home') Home
    a(href="/log-out") Log out 
    a(href="/create-message") + Create Message
    a(href='/club-house') Enter Club House

  .section 
    h1 Welcome to the Club house #{user.username}

  .main
   if (messages)
    div.messages-container
      each message in messages
        .msg-container 
        h1 #{message.title}
        p #{message.text}
        p #{message.timestamp}
        if (user.member == true)
          h3 #{message.user.username}